
*.class

*.iml

*.xml

.idea/.name

.idea/libraries/libsvm.xml

.idea/uiDesigner.xml

out/production/Foreign-Exchange/HW2/Report.pdf

files/FV

files/FV

out/production/Foreign-Exchange/HW3/ReadMe.txt

out/production/Foreign-Exchange/HW2/decisionTree.py

files/FV

files/FV

target/*

files/tutorial_word_topic_AB.txt

files/tutorial_composition_AB.txt

corpus/*.txt
